var DateFr = {
  icon: function (ev){
    //../../images/return.jpg
    if (ev == '') return '../../images/default-team-logo.gif';
    //http://7xkufz.com2.z0.glb.qiniucdn.com/FpnjXBzpe9QUcbFe0NUKLD7kr41y?imageView2/1/w/140/h/140
    return 'http://7xkufz.com2.z0.glb.qiniucdn.com/' + ev +'?imageView2/1/w/140/h/140';
  },
  getitem: function (time, splitStr) {
    if (!time) return '';
    var index = time.indexOf('T');
    var str = time.substring(0,index);
    str = str.replace('-', '/');
    str = str.replace('-', '/');
    return str;
  }
}

module.exports = {
  filter: DateFr
}